page-damindetails {
    yellowheader .contdiv .backbtn {
        flex: 1;
    }

    yellowheader .contdiv .imgdiv {
        flex: 1;
    }
    yellowheader .contdiv div {
        flex: 5
    }
    .itemdiv{
        width: 90%;
        margin:10px auto;

        .bankname{
            display: flex;
            img{
                height: 20px;
                margin: 10px;
            }
            p{
                margin: 12px 0 0;
                font-size: 20px;
            }
        }

        .banknumber{
            display: flex;
            margin:5px 0;
            box-shadow: 2px 2px 1px 1px lightgrey;
            border-radius: 10px;
             img{
                 height: 16px;
                 margin: 10px;
             }
             p{
                margin: 8px 0 0;
                font-size: 20px;
            }
        }
    }
}
