page-editprofile {
  .scroll-content{
    margin-top: 80px;
  }
  .profileimg {
    border-radius: 20px;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 20px;
    img {
      height: 150px;
      width: 150px;
    }
  }
  .editimg {
    height: 35px;
    text-align: end;
    position: absolute;
    top: 0%;
    left: 0%;
    color: transparent;
    img {
      height: 120px;
      width: 120px;
    }
  }
  .avatar{
    width: 45%;
    height: 45%;
    margin: auto;
    display: block;
  }
  .upload{
    position: absolute;
    right: 21%;
    bottom: 8%;
    width: 35px;
    height: 35px;
    padding: 5px;
    border: 3px solid #716f70;
    border-radius: 100px;
    ion-icon{
      font-size: 1.6em;
      color: #716f70
    }
  }
  .profilediv {
    margin: 90px auto 0;
    width: 35%;
    border-radius: 50%;
    text-align: center;
  }

  .inputitem {
    height: 50px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    width: 95%;
    margin: 10px auto;
    border-radius: 20px;
    padding-top: 5px;
    background: #fbfbfb;
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 6%;
    ::placeholder {
      color: black;
      padding: 0 5px;
    }
  }

  .text-input {
    color: black;
    font-size: 18px;
    margin: 8px 50px;
    padding: 0 5px;
    width: calc(100% - 8px - 100px);

  }
  .nameinput {
    background-image: url('../assets/imgs/123.png');
  }
  .telinput {
    background-image: url('../assets/imgs/23123_1.png');
  }

  .emailinput {
    background-image: url('../assets/imgs/123123.png');
  }

  .passinput {
    background-image: url('../assets/imgs/123123231.png');
  }

  .repass {
    background-image: url('../assets/imgs/nvbnv.png');
  }
  .ion-md-checkmark:before{

    background-image: url('../assets/imgs/success.png');

    height: 35px;
    width: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }
  .input-wrapper{
    padding: 0 3px;
  }
  .list-ios .item-block .item-inner ,
  .list-md .item-block .item-inner {
     border-bottom: 0 !important;
  }
}
