page-chat {
  .messagedate {
    text-align: center;
    margin: 0;
  }
  .leftMessage {
    text-align: center;
    margin: 5px 45% 5px 0;
    width: 200px;

    .message {
      margin: 0;
      border: 1px solid #ffc928;
      padding: 10px;
      // width: 200px;
      display: block;
      font-size: 20px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .messageTime {
      font-size: 10px;
      color: gray;
      margin: 5px 0;
    }
  }

  .rightMessage {
    text-align: center;
    margin: 5px 5px 0 45%;
    width: 200px;
    .message {
      margin: 0;
      border: 1px solid #ffc928;
      padding: 10px;
      // width: 200px;
      display: block;
      font-size: 20px;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .messageTime {
      font-size: 10px;
      color: gray;
      margin: 5px 0;
    }
  }

  .txt {
    position: fixed;
    bottom: 4px;
    background: #f5f5f5;
    height: 70px;
    width: 95%;
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px lightgrey;
  }

  //textarea.text-input {
  //    display: block;
  //    height: 75%;
  //    background-position: 100%;
  //    background-repeat: no-repeat;
  //    background-size: 14%;
  //    padding: 0 55px;
  //    line-height: 75px;
  //    margin: 14px 0;
  //    background-image: url('../assets/imgs/telegram.png');
  //}
  .ion-ios-send-outline:before {
    content: "";
    background-image: url('../assets/imgs/telegram.png');
    background-size: contain;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  yellowheader .contdiv .backbtn {
    flex: 1;
  }

  yellowheader .contdiv .imgdiv {
    flex: 1;
  }
  yellowheader .contdiv div {
    flex: 5
  }
}
