<!--
  Generated template for the AsksomebodyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <yellowheader name='اسال عن شخص'></yellowheader>

</ion-header>


<ion-content>

  <div class="contentdiv">
    <!--<form #loginForm="ngForm" (ngSubmit)="getSearchData()">-->
      <!--<ion-input class="inputitem nameinput" [(ngModel)]="search" placeholder="ابحث هنا" type="text"></ion-input>-->
    <!--</form>-->
    <form #loginForm="ngForm" (ngSubmit)="getSearchData()">
      <ion-searchbar  class="inputitem nameinput" [(ngModel)]="search" name="search" placeholder="ابحث هنا"
                     [showCancelButton]="shouldShowCancel">
      </ion-searchbar>
    </form>
  </div>


  <!-- البداية قبل البحث -->
  <div class="notStart" *ngIf="search == null || search == ''">
    <img src="assets/imgs/Asset 6.png">
    <p>قم بادخال رقم جوال الشخص الذى تود البحث عنه</p>
  </div>


  <!-- لو ملقاش الشخص ده  -->
  <div class="notStart" *ngIf="found == false">
    <img src="assets/imgs/notfound.jpg">
    <p>الشخص الذى تبحث عنه لم يستخدم التطبيق مسبقا</p>
  </div>

  <!-- لو لقى الشخص ده  -->
  <!-- <div class="containerdiv" *ngIf="found == true && search != ''">
    <div class="ratediv new"  *ngFor="let item of searchResultData">
      <div class="imgdiv">
        <img src="{{config.url+item.customers_picture}}">
      </div>
      <div class="namediv">
        <p>{{item.customers_name}}</p>
        <div class="starsdiv">
          التقييم
          <ion-icon style="color: orange" name="{{(searchResult['0'].avg < 1) ? 'md-star-outline' : 'md-star'}}"></ion-icon>
          <ion-icon style="color: orange" name="{{(searchResult['0'].avg < 2) ? 'md-star-outline' : 'md-star'}}"></ion-icon>
          <ion-icon style="color: orange" name="{{(searchResult['0'].avg < 3) ? 'md-star-outline' : 'md-star'}}"></ion-icon>
          <ion-icon style="color: orange" name="{{(searchResult['0'].avg < 4) ? 'md-star-outline' : 'md-star'}}"></ion-icon>
          <ion-icon style="color: orange" name="{{(searchResult['0'].avg < 5) ? 'md-star-outline' : 'md-star'}}"></ion-icon>
        </div>
        <p> عدد المقيمين <span>{{searchResult['0'].total}}</span></p>
      </div>
    </div>
    <div class="ratediv" >
      <div class="imgdiv">
        <img src="">
      </div>
      <div class="namediv">
        <p></p>
        <div class="starsdiv">
          <p></p>
        </div>
      </div>
    </div>
    <div class="ratetext"></div>
  </div> -->









  <div class="containerdiv" >
      <div class="ratediv new" >
        <div class="imgdiv">
          <img src="assets/imgs/hjghjghj.png">
        </div>
        <div class="namediv">
          <p id="nameitem">sdfsdff</p>
          <div class="starsdiv">
            التقييم
            <ion-icon name="star" style="color: orange"></ion-icon>
            <ion-icon   name="star"style="color: orange"></ion-icon>
            <ion-icon  name="star" style="color: orange"></ion-icon>
            <ion-icon  name="star" style="color: orange"></ion-icon>
            <ion-icon name="star" style="color: orange"></ion-icon>
          </div>
          <p> عدد المقيمين <span>30</span></p>
        </div>
      </div>


  <div class="ratetextdiv new">
    <div style="  display: flex;">
        <div class="imgdiv">
            <img src="assets/imgs/hjghjghj.png">
        </div>
        <div class="namediv">
            <p id="nameitem">sdfsdff</p>
            <div class="starsdiv">
            
              <ion-icon name="star" style="color: orange"></ion-icon>
              <ion-icon   name="star"style="color: orange"></ion-icon>
              <ion-icon  name="star" style="color: orange"></ion-icon>
              <ion-icon  name="star" style="color: orange"></ion-icon>
              <ion-icon name="star" style="color: orange"></ion-icon>
             <span s>12/4/2019</span>
            </div>
            <!-- <p> عدد المقيمين <span>30</span></p> -->
          </div>
    </div>
    <div class="ratetext">
        نص التقييم نص التقييم   نص التقييم نص التقييم   نص التقييم نص التقييم  نص التقييم نص التقييم  نص التقييم نص التقييم  نص التقييم نص التقييم 
      </div>
  </div>
    </div>
</ion-content>
