page-settings {
.settingItem {
    display: flex;
    margin: 10px 20px;

    img {
        height: 37px;
        width: 40px;
        flex: 1;
    }

    p{
        font-size: 25px;
        margin: 10px 15px;
        flex: 7;
    }
}

.detailsdiv {
    margin: 0 30px 0;
    font-size: 16px;

    p{
        margin: 0;
        font-size:18px;
    }
}

.choses{
    width: 100%;
    /* margin: 0 12%; */
    bottom: 50px;
    background: white;
    border-radius: 20px;
    .item {
        background: transparent;
        padding: 0;
        font-size: 25px;
    }
} 

.select {
    display: inline-flex;
    padding: 10px;
}
.select-text {
    color: #ffc928;
}
.item-cover {
    display: none
}
.select-md .select-icon , .select-ios .select-icon {
    position: relative;
    width: 20px; 
}

ion-list {
    display: flex;
}

.item-radio.item-md ion-label ,  .item-radio.item-ios ion-label {
    margin-left: 0;
    font-size: 18px;
}

.list-md .item-block .item-inner , .list-ios .item-block .item-inner  {
    border: none;
    direction: ltr;
}
}
