// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
yellowheader {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.contentdiv {
  margin-top: 75px;
}

@font-face {
  font-family: Basefont;
  src: url('../assets/fonts/Crimson-Roman.ttf') ;
}

.toolbar-title-ios {
  font-family: Basefont !important;
  font-size: 2em;
  color: #706E6F;
}

.toolbar-title-md {
  font-family: Basefont !important;
  font-size: 2em;
  color: #706E6F;
}

* {
  direction: rtl;
  font-family: Basefont;
}

.menutop {
  ion-icon {
    font-size: 45px;
    margin: 15px;
    color: orange
  }
}

.menuitem {
  display: flex;
  width: 90%;
  margin: 15px auto;
  img {
    height: 25px;
    flex: 0;
  }
  p {
    margin: 0px 15px;
    font-size: 23px;
    flex: 3;
  }
}

.toolbar-background-md, .toolbar-background-ios {
  background: #ffc928;

}

.toolbar-ios ion-title {
  padding: 0 10px 1px !important;

}

.toolbar-ios {
  min-height: 60px !important;
}

.ios .s {
  margin-top: 5px;
}

.button-ios.activated {
  background-color: #ffc928;
}

.error {
  color: color($colors, danger);
  text-align: center;
  display: block;
  margin: 5px auto;
}

.list-ios > .item-block:first-child, .list-ios > .item-block:last-child, .list-ios {
  border: none;
}

.item-radio-checked.item-ios ion-label, .item-radio-checked.item-md ion-label {
  color: black;
}

.list-ios {
  margin: 0;
}

.radio-ios .radio-icon, .radio-md .radio-icon {
  position: relative;
  display: block;
  width: 16px;
  height: 21px;
  border:1px solid gray;
  padding: 9px;
  border-radius: 50%;
}

.radio-icon .radio-checked, .radio-icon .radio-checked {
  position: relative;
  display: block;
  width: 16px;
  height: 21px;
  border: 1px solid gray;
  padding: 9px;
  border-radius: 50%;
}

.radio-ios .radio-checked .radio-inner {
  border-color: orange;
}

.item-ios.item-block .item-inner {
  border: none;
}

.item-md .radio-md {
  position: static;
  display: block;
  margin: 9px 10px 9px 15px;
}

.radio-md .radio-inner {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  position: absolute;
  width: 14px;
  height: 15px;
  background-color: orange;
}
.alert-md .alert-radio-icon {
  left: -5px !important;
}
.round{
  border-radius: 100px;
}
