<!--
  Generated template for the DamindetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <yellowheader name='اضافة حساب بنكى'></yellowheader>
</ion-header>


<ion-content>

  <div class="contentdiv">
    <h2 *ngIf="success == 0" style="text-align: center">لا يوجد حساب بنكى</h2>
    <div *ngIf="success == 1">
      <div class="itemdiv" *ngFor="let item of bankInfo" >
        <div class="bankname">
          <img src="assets/imgs/5555555.png">
          <p>رقم الحساب {{item.bank_id}}</p>
        </div>
        <div class="banknumber">
          <img src="assets/imgs/444444.png">
          <p>{{item.account_num}}</p>
          <div>
            <button ion-button icon-only clear color="danger" (click)="deleteBank(item.bank_id)" >
                <ion-icon name="ios-trash"></ion-icon>
              </button>
              <button ion-button icon-only clear color="primary" (click)="updateBank(item)" >
                <ion-icon name="md-create"></ion-icon>
              </button>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <div>
    <button ion-button block class="newacc" (click)="newAccount()">حساب بنكى جديد</button>
  </div>

</ion-content>
