<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <div class="titlediv">
        <p>ضامن</p>
        <ion-icon  menuToggle style="margin-top: 7px" name='menu'></ion-icon>

      </div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="s"></div>

  <div class="daminimg">
    <img src="assets/imgs/Asset 3.png">
    <button *ngIf="shared.customerData.customers_id==null" id="yellowbtn" ion-button block (click)="newAccount()">انشاء حساب جديد</button>
    <button *ngIf="shared.customerData.customers_id==null" id="whitebtn" ion-button block (click)="myaccont()">حسابى</button>
  </div>
  <div class="delvery">
    <div class="subdiv">
      <div class="operdivimg"><img src="assets/imgs/ddddd.png"></div>

      <p>توصيل طلبات</p>
    </div>
  </div>
  <div class="totaldivs">
    <div class="subdiv">
      <div class="operdivimg"><img src="assets/imgs/ffffffff.png"></div>

      <p>سلع ومشتريات</p>
    </div>
    <div class="subdiv" style="border: none"></div>
    <div class="subdiv">
      <div class="operdivimg"><img src="assets/imgs/asds.png"></div>

      <p>تعقيب وتنازل</p>
    </div>
  </div>

  <div class="totaldivs1">
    <div class="subdiv">
      <div class="operdivimg"><img src="assets/imgs/sdasd.png"></div>

      <p>طرف اول طرف ثانى</p>
    </div>
    <div class="subdiv">
      <div class="operdivimg"><img src="assets/imgs/wqew.png"></div>

      <p>عمليات نقل كفالة</p>
    </div>
  </div>
</ion-content>
