<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <yellowheader name='الاشعارات'></yellowheader>
</ion-header>


<ion-content>


  <!-- لو فى اشعارات -->
    <div class="contentdiv"*ngIf="success == 1" >

      <div class="containerdiv" *ngFor="let item of myNotify"  (click)="openNotify(item.last_action,item.order_id)">
        <img src="{{config.url+item.customers_picture}}">
        <div>
          <p class="notifytext" *ngIf="item.last_action == 1">قام <span>{{item.customers_name}} </span> {{item.message}}</p>
          <p class="notifytext" *ngIf="item.last_action == 0">قام <span  style="color: #FFC563">{{item.customers_name}} </span> {{item.message}}</p>
          <p class="timetext">{{item.created_at}}</p>
        </div>
      </div>
    </div>

  <!-- لو مفيش اشعارات  -->

  <div class="noNotify" *ngIf="success == 0">
    <img src="assets/imgs/fgdfgdfgdf.png">
    <p>لا يوجد اشعارات</p>
  </div>
</ion-content>
