yellowheader {
.contdiv {
    background-color: #ffc928;
    height:70px;
    padding: 5px 10px;
    display: flex;
    div {
        flex: 1;
    }
    .backbtn {
        text-align: end;
    }
    .imgdiv {
        text-align: start;
        img {
            height: 25px;
            width: 35px;
            margin-top: 16px;
        }
    }
    p {
        text-align: center;
        font-size: 22px;
        margin: 13px 0;
        color: white;
    }
    ion-icon {
        color: white;
        font-size: 50px;
        font-weight: normal;
    }
}

}
