page-taqeeem {
    .rateText {
            padding: 0;
            background: #efeaea;
            margin: 10px 5% 0;
            width: 90%;
            height: 150px;
            border-radius: 20px;
            textarea.text-input {
              height: 70%;
            }
          
    }

    .starlambDiv{
        text-align: center;
        img {height: 100px;}
        .firstp{
            font-size: 25px;
            margin: 20px;
            color: #4a4a4a;
        
        }
        .secp {
            font-size: 25px;
            margin: 20px;
            color: #ffc928;
        }

        .stars{
            display: inline-flex;
            text-align: center;
            ion-icon {
                color: #ffc928;
            }
        }
        
    }

    .btn {
        margin: 20px auto;
        width: 90%;
        height: 40px;
        font-size: 20px;
        color: white;
        border-radius: 10px;
        background-color: #ffc928;
    }
}
